@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Your expenses @Model.UserName</h1>
    <div>
        @Model.Data
    </div>
    <h3>Token used:</h3>
    <p>
        @Model.AccessToken
    </p>
</div>
